<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        .flex-container2 {
            display: flex;
            gap: 15px;
        }

        .flex-log-input {
            flex: 0 0 auto ;
            width: 45%;
        }
    </style>
</head>

<body>

<div style="margin-top: 40px" class="ui container" >
    <form class="ui form" action="/login" method="post">
        <h2 style="text-align: center; color: black;">Fill in the required information</h2>
            <br/><hr><br/><br/>
            <div class="field flex-container2">
                <div class="flex-log-input" >
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="flex-log-input" >
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="flex-log-input" >
                    <button class="ui positive basic button" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

